---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<p>por</p>
							<p>{{ site.owner }}</p>
						</div>
						<a href="#one" class="more scrolly">Descúbrelos</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Los Podcast</h2>
							</header>
							<ul class="icons major">
								<li><a title="SuperLunes" href=""><img class="image" src="/images/200superlunes.png"></img></li>
								<li><a title="vaciatubandeja" href= ”http://vaciatubandeja.com"><img class="image" src="/images/200vacia.jpg"></img></li>
								<li><a title="experimentaconjekyll" href="https://experimentaconjekyll.github.io"><img class="image" src="/images/200jekyll.jpg"></img></li>
							</ul>
							<h2>Los Feed</h2>
							<p>Subcríbete añadiendo el Feed a tu podcacher favorito.</p>
							<ul class="icons major">
							 <li><a href="http://www.spreaker.com/show/2836167/episodes/feed">Los SuperLunes</li>
							 <li><a href="http://feeds.feedburner.com/Vaciatubandeja">Vacía tu bandeja</li>
							 <li><a href="http://feeds.feedburner.com/Experimentaconjekyll">Experimenta con Jekyll</li>
						 </ul>

							<p>Puedes escucharlos en</p>

							<ul class="icons major">
								<li><a title="iTunes" href="https://www.apple.com/itunes/podcasts/"><img class="image" src="/images/50apple.jpg"></img></li>
								<li><a title="Audioboom" href="https://audioboom.com/"><img class="image" src="/images/50audio.jpg"></img></li>
								<li><a title="iVoox" href="http://www.ivoox.com"><img class="image" src="/images/50ivoox.jpeg"></img></li>
								<li><a title="Spotify" href=""><img class="image" src="/images/50spotify.jpg"></img></li>
								<li><a title="Spreaker" href="https://www.spreaker.com"><img class="image" src="/images/50spreaker.png"></img></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><<a class="spreaker-player" href="https://www.spreaker.com/show/los-superlunes" data-resource="show_id=2836167" data-theme="light" data-autoplay="false" data-playlist="show" data-cover="https://d3wo5wojvuv7l.cloudfront.net/images.spreaker.com/original/9ba553ccf7b7d2f71620dd9fca01c4d9.jpg" data-width="100%" data-height="400px">Listen to "Los SuperLunes" on Spreaker.</a><script async src="https://widget.spreaker.com/widgets.js"></script></div><div class="content">
								<h2>Los SuperLunes</h2>
								<p>Comienza la semana con una frase motivadora.</p>

							</div>
						</section>
						<section class="spotlight">
							<div class="image"><<iframe width="100%" height="350" style="background-color:transparent; display:block; padding: 0; max-width: 700px;" frameborder="0" allowtransparency="allowtransparency" scrolling="no" src="//embeds.audioboom.com/publishing/playlist/v4?bg_fill_col=%23ecefef&amp;boo_content_type=channel&amp;data_for_content_type=4943035&amp;image_option=small&amp;link_color=%2358d1eb&amp;player_theme=light&amp;src=https%3A%2F%2Fapi.audioboom.com%2Fchannels%2F4943035%2Faudio_clips%3Finclude_child_channels%3D1" title="Audioboom player"></iframe></div><div class="content">
								<h2>Vacía tu bandeja</h2>
								<p>Un podcast sobre organización personal, creación de hábitos y simplificar.</p>

							</div>
						</section>
						<section class="spotlight">
							<div class="image"><<iframe src="http://www.ivoox.com/player_es_podcast_420014_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" ></iframe></div><div class="content">
								<h2>Experimenta con Jekyll</h2>
								<p>Cómo desarrollar una web utilizando el generador estático Jekyll.</p>

							</div>
						</section>
					</section>


				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>¿Hablamos?</h2>
								<p>¿tienes una idea  y quieres colaboración? Cuéntamela.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="{{ site.url }}/Contacto" class="button fit special">Contacto</a></li>
							</ul>
						</div>
					</section>
